<footer class="vab__footer">
    <section class="vab__section--large-centered vab__gap--xs-xsmall-s-small">
        <!-- CONTACT FOOTER A -->
        <div class="vab__footerA vab__gap--l-xlarge vab__fc--neutrals-2">
            <div class="vab__grid vab__layout--m-flex">
                <div class="vab__footerA__borders vab__box--xs-w100p-m-w20p">
                    <div class="vab__box__inner">
                        <div class="vab__footerA__logo">
                            <div class="vab__footerA__logo__inner">
                                <a href="/" class="vab__logo--slogan __trigger_contactClick" data-blork="logo">
                                    <span class="vab__screenReader">VAB Logo</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vab__footerA__borders vab__box--xs-w100p-s-w50p-m-w40p">
                    <div class="vab__box__inner">
                        <div class="vab__footerA__content  vab__layout--xs-pv-small-xs-ph-xxsmall--m-p-small" ng-repeat="contactLink in footerContact">
                            <div class="vab__footer__top vab__layout--s-mb-small">
                                <h5 class="vab__heading--5">{{ contactLink.title}}</h5>
                            </div>
                            <div class="vab__box--xs-w50p">
                                <div class="vab__box__inner">
                                    <p>{{ contactLink.straat }} {{ contactLink.nummer }}</p>
                                    <p>{{ contactLink.postcode }} {{ contactLink.plaats }}</p>
                                </div>
                            </div>
                            <div class="vab__box--xs-w50p ">
                                <div class="vab__box__inner vab__layout--xs-ph-small">
                                    <p>
                                        <a class="vab__link--inherit" href="tel:{{contactLink.telefoon}}">{{ contactLink.telefoon }}</a>
                                    </p>
                                    <p>
                                        <a class="vab__link--inherit" href="mailto:{{contactLink.email}}">{{ contactLink.email }}</a>
                                    </p>
                                </div>
                            </div>
                            <div class="vab__box--xs-w100p vab__fs--6 vab__layout--xs-pt-xxsmall">
                                <div class="vab__box__inner">
                                    <p>
                                        <a href="{{contactLink.linkUrl}}" class="vab__link--directional--primair-2 vab__fs--6 __trigger_contactClick" data-blork="contact">{{ contactLink.linkTitle }}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vab__footerA__borders vab__box--xs-w100p-s-w50p-m-w40p">
                    <div class="vab__box__inner">
                        <div class="vab__footerA__content vab__layout--s-p-small" ng-repeat="klantenLink in footerKlantendienst">
                            <div class="vab__box--xs-w50p">
                                <div class="vab__box__inner">
                                    <div class="vab__footer__top">
                                        <h4 class="vab__heading--4">{{ klantenLink.titleKlantendienst }}</h4>
                                    </div>
                                    <p ng-repeat="openingsurenK in klantenLink.openingsurenKlantendienst">
                                        <span class="vab__noWrap">{{ openingsurenK.days }}</span>
                                        <span class="vab__noWrap">{{ openingsurenK.time }}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="vab__box--xs-w50p">
                                <div class="vab__box__inner vab__layout--xs-ph-small">
                                    <div class="vab__footer__top">
                                        <h4 class="vab__heading--4">{{ klantenLink.titleReceptie }}</h4>
                                    </div>
                                    <p ng-repeat="openingsurenR in klantenLink.openingsurenReceptie">
                                        <span class="vab__noWrap">{{ openingsurenR.days }}</span>
                                        <span class="vab__noWrap">{{ openingsurenR.time }}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="vab__box--xs-w100p vab__fs--6 vab__layout--xs-pt-xxsmall">
                                <div class="vab__box__inner">
                                    <a href="{{ klantenLink.linkUrl }}" class="vab__link--directional--primair-2 vab__fs--6 __trigger_contactClick" data-blork="faq">{{ klantenLink.linkTitle }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="vab__section--large-centered vab__gap--xs-xsmall-s-small-l-xlarge">
        <!-- GENERAL FOOTER -->
        <div class="vab__footerGeneral">
            <div class="vab__grid">
                <div class="vab__box--xs-w50p-m-w20p vab__layout--xs-p-xsmall-s-pv-small">
                    <div class="vab__box__inner">
                        <ul class="vab__footerGeneral__list">
                            <li class="vab__footerGeneral__item" ng-repeat="footerGeneralLink in footerGeneral | filter:{column:'1'} ">
                                <a href="{{footerGeneralLink.url}}" class="vab__footerGeneral__link __trigger_footerClick">{{footerGeneralLink.title}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="vab__box--xs-w50p-m-w20p vab__layout--xs-p-xsmall-s-pv-small">
                    <div class="vab__box__inner">
                        <ul class="vab__footerGeneral__list">
                            <li class="vab__footerGeneral__item" ng-repeat="footerGeneralLink in footerGeneral | filter:{column:'2'}">
                                <a href="{{footerGeneralLink.url}}" class="vab__footerGeneral__link __trigger_footerClick">{{ footerGeneralLink.title }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="vab__box--xs-w100p-m-w20p vab__layout--m-pv-small">
                    <div class="vab__box__inner">

                        <ul class="vab__footerGeneral__dd__list" ng-repeat="footerGeneralItem in footerGeneralwithSub | filter:{column:'3'}">
                            <li class="vab__footerGeneral__dd__item _trigger__subs">{{footerGeneralItem.title}}
                                <div class="vab__footerGeneral__dd__sub">
                                    <ul class="vab__footerGeneral__dd__sub__list">
                                        <li class="vab__footerGeneral__dd__sub__item" ng-repeat="footerGeneralSublink in footerGeneralItem.sublinks">
                                            <a href="{{footerGeneralSublink.url}}" class="vab__footerGeneral__dd__sub__link __trigger_footerClick">{{  footerGeneralSublink.title }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="vab__box--xs-w100p-m-w20p vab__layout--m-pv-small">
                    <div class="vab__box__inner">
                      <ul class="vab__footerGeneral__dd__list" ng-repeat="footerGeneralItem in footerGeneralwithSub | filter:{column:'4'}">
                          <li class="vab__footerGeneral__dd__item _trigger__subs">{{footerGeneralItem.title}}
                              <div class="vab__footerGeneral__dd__sub">
                                  <ul class="vab__footerGeneral__dd__sub__list">
                                      <li class="vab__footerGeneral__dd__sub__item" ng-repeat="footerGeneralSublink in footerGeneralItem.sublinks">
                                          <a href="{{footerGeneralSublink.url}}" class="vab__footerGeneral__dd__sub__link __trigger_footerClick">{{  footerGeneralSublink.title }}</a>
                                      </li>
                                  </ul>
                              </div>
                          </li>
                      </ul>
                    </div>
                </div>
                <div class="vab__box--xs-w100p-m-w20p vab__layout--m-pv-small">
                    <div class="vab__box__inner">
                      <ul class="vab__footerGeneral__dd__list" ng-repeat="footerGeneralItem in footerGeneralwithSub | filter:{column:'5'}">
                          <li class="vab__footerGeneral__dd__item _trigger__subs">{{footerGeneralItem.title}}
                              <div class="vab__footerGeneral__dd__sub">
                                  <ul class="vab__footerGeneral__dd__sub__list">
                                      <li class="vab__footerGeneral__dd__sub__item" ng-repeat="footerGeneralSublink in footerGeneralItem.sublinks">
                                          <a href="{{footerGeneralSublink.url}}" class="vab__footerGeneral__dd__sub__link __trigger_footerClick">{{  footerGeneralSublink.title }}</a>
                                      </li>
                                  </ul>
                              </div>
                          </li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="vab__footerMisc">
            <div class="vab__footerMisc__nav">
                <ul class="vab__footerMisc__nav__list">
                    <li class="vab__footerMisc__nav__item">&copy; VAB 2016</li>
                    <li class="vab__footerMisc__nav__item" ng-repeat="miscLinks in footerMisc">
                        <a href="{{miscLinks.url}}" class="vab__footerMisc__nav__link __trigger_footerClick">{{miscLinks.title}}</a>
                    </li>
                </ul>
            </div>
            <div class="vab__footerMisc__socialNav">
            <ul class="vab__footerMisc__socialNav__list">
                <li class="vab__footerMisc__socialNav__item">Volg ons op</li>
                <li class="vab__footerMisc__socialNav__item">
                    <a href="#0" class="vab__footerMisc__socialNav__link __trigger_footerClick" target="_blank">
                        <i class="vab__footerMisc__socialNav__icon vab__icon--facebook"></i>
                    </a>
                </li>
                <li class="vab__footerMisc__socialNav__item">
                    <a href="#0" class="vab__footerMisc__socialNav__link __trigger_footerClick" target="_blank">
                        <i class="vab__footerMisc__socialNav__icon vab__icon--linkedin"></i>
                    </a>
                </li>
                <li class="vab__footerMisc__socialNav__item">
                    <a href="#0" class="vab__footerMisc__socialNav__link __trigger_footerClick" target="_blank">
                        <i class="vab__footerMisc__socialNav__icon vab__icon--twitter"></i>
                    </a>
                </li>
            </ul>
        </div>

        </div>
    </section>

</footer>
