<footer>
<section class="vab__section--large-centered vab__gap--xs-xsmall-s-small-l-xlarge">
    <!-- GENERAL FOOTER -->

    <div class="vab__footerGeneral">
        <div class="vab__grid">
            <div class="vab__box--xs-w50p-m-w20p vab__layout--xs-p-xsmall-s-pv-small">
                <div class="vab__box__inner">
                    <ul class="vab__footerGeneral__list">
                        <li class="vab__footerGeneral__item">
                            <a href="#0" class="vab__footerGeneral__link __trigger_footerClick">Pech in de Benelux</a>
                        </li>
                        <li class="vab__footerGeneral__item">
                            <a href="#0" class="vab__footerGeneral__link __trigger_footerClick">Bijstand op reis</a>
                        </li>
                    </ul>

                    <ul class="vab__footerGeneral__list">
                        <li class="vab__footerGeneral__item">
                            <a href="#0" class="vab__footerGeneral__link __trigger_footerClick">Terugbetaling kosten</a>
                        </li>
                        <li class="vab__footerGeneral__item">
                            <a href="#0" class="vab__footerGeneral__link __trigger_footerClick">Verzekeringsattest</a>
                        </li>
                    </ul>

                    <ul class="vab__footerGeneral__list">
                        <li class="vab__footerGeneral__item">
                            <a href="#0" class="vab__footerGeneral__link __trigger_footerClick">Bijstand voor bedrijven</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="vab__box--xs-w50p-m-w20p vab__layout--xs-p-xsmall-s-pv-small">
                <div class="vab__box__inner">
                    <ul class="vab__footerGeneral__list">
                        <li class="vab__footerGeneral__item">
                            <a href="#0" class="vab__footerGeneral__link __trigger_footerClick">Rijschool</a>
                        </li>
                        <li class="vab__footerGeneral__item">
                            <a href="#0" class="vab__footerGeneral__link __trigger_footerClick">Banden</a>
                        </li>
                        <li class="vab__footerGeneral__item">
                            <a href="#0" class="vab__footerGeneral__link __trigger_footerClick">Tweedehandswagens</a>
                        </li>
                        <li class="vab__footerGeneral__item">
                            <a href="#0" class="vab__footerGeneral__link __trigger_footerClick">Diagnosecentrum</a>
                        </li>
                        <li class="vab__footerGeneral__item">
                            <a href="#0" class="vab__footerGeneral__link __trigger_footerClick">Tankkaart</a>
                        </li>
                        <li class="vab__footerGeneral__item">
                            <a href="#0" class="vab__footerGeneral__link __trigger_footerClick">Lekdetecties</a>
                        </li>
                        <li class="vab__footerGeneral__item">
                            <a href="#0" class="vab__footerGeneral__link __trigger_footerClick">Training en Consult</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="vab__box--xs-w100p-m-w20p vab__layout--m-pv-small">
                <div class="vab__box__inner">

                    <ul class="vab__footerGeneral__dd__list">
                        <li class="vab__footerGeneral__dd__item _trigger__subs">Wegeninfo
                            <div class="vab__footerGeneral__dd__sub">
                                <ul class="vab__footerGeneral__dd__sub__list">
                                    <li class="vab__footerGeneral__dd__sub__item">
                                        <a href="#0" class="vab__footerGeneral__dd__sub__link __trigger_footerClick">Verkeersinfo België</a>
                                    </li>
                                    <li class="vab__footerGeneral__dd__sub__item">
                                        <a href="#0" class="vab__footerGeneral__dd__sub__link __trigger_footerClick">Wegeninfo Europa</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <ul class="vab__footerGeneral__dd__list">
                        <li class="vab__footerGeneral__dd__item _trigger__subs">Tools
                            <div class="vab__footerGeneral__dd__sub">
                                <ul class="vab__footerGeneral__dd__sub__list">
                                    <li class="vab__footerGeneral__dd__sub__item">
                                        <a href="#0" class="vab__footerGeneral__dd__sub__link __trigger_footerClick">Routeplanner</a>
                                    </li>
                                    <li class="vab__footerGeneral__dd__sub__item">
                                        <a href="#0" class="vab__footerGeneral__dd__sub__link __trigger_footerClick">Fietsrouteplanner</a>
                                    </li>
                                    <li class="vab__footerGeneral__dd__sub__item">
                                        <a href="#0" class="vab__footerGeneral__dd__sub__link __trigger_footerClick">Carpool app</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="vab__box--xs-w100p-m-w20p vab__layout--m-pv-small">
                <div class="vab__box__inner">

                    <ul class="vab__footerGeneral__dd__list">
                        <li class="vab__footerGeneral__dd__item _trigger__subs">VAB-Club
                            <div class="vab__footerGeneral__dd__sub">
                                <ul class="vab__footerGeneral__dd__sub__list">
                                    <li class="vab__footerGeneral__dd__sub__item">
                                        <a href="#0" class="vab__footerGeneral__dd__sub__link __trigger_footerClick">Nieuws &amp; Reportages</a>
                                    </li>
                                    <li class="vab__footerGeneral__dd__sub__item">
                                        <a href="#0" class="vab__footerGeneral__dd__sub__link __trigger_footerClick">VAB-Magazine</a>
                                    </li>
                                    <li class="vab__footerGeneral__dd__sub__item">
                                        <a href="#0" class="vab__footerGeneral__dd__sub__link __trigger_footerClick">Ledenvoordelen</a>
                                    </li>
                                    <li class="vab__footerGeneral__dd__sub__item">
                                        <a href="#0" class="vab__footerGeneral__dd__sub__link __trigger_footerClick">Wedstrijden</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                    <ul class="vab__footerGeneral__dd__list">
                        <li class="vab__footerGeneral__dd__item _trigger__subs">Webwinkel
                            <div class="vab__footerGeneral__dd__sub">
                                <ul class="vab__footerGeneral__dd__sub__list">
                                    <li class="vab__footerGeneral__dd__sub__item">
                                        <a href="#0" class="vab__footerGeneral__dd__sub__link __trigger_footerClick">Vignetten</a>
                                    </li>
                                    <li class="vab__footerGeneral__dd__sub__item">
                                        <a href="#0" class="vab__footerGeneral__dd__sub__link __trigger_footerClick">Télépéage</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="vab__box--xs-w100p-m-w20p vab__layout--m-pv-small">
                <div class="vab__box__inner">

                    <ul class="vab__footerGeneral__dd__list">
                        <li class="vab__footerGeneral__dd__item _trigger__subs">Over VAB
                            <div class="vab__footerGeneral__dd__sub">
                                <ul class="vab__footerGeneral__dd__sub__list">
                                    <li class="vab__footerGeneral__dd__sub__item">
                                        <a href="#0" class="vab__footerGeneral__dd__sub__link __trigger_footerClick">Contact</a>
                                    </li>
                                    <li class="vab__footerGeneral__dd__sub__item">
                                        <a href="#0" class="vab__footerGeneral__dd__sub__link __trigger_footerClick">Klantenservice</a>
                                    </li>
                                    <li class="vab__footerGeneral__dd__sub__item">
                                        <a href="#0" class="vab__footerGeneral__dd__sub__link __trigger_footerClick">Jobs</a>
                                    </li>
                                    <li class="vab__footerGeneral__dd__sub__item">
                                        <a href="#0" class="vab__footerGeneral__dd__sub__link __trigger_footerClick">Mijn VAB</a>
                                    </li>
                                    <li class="vab__footerGeneral__dd__sub__item">
                                        <a href="#0" class="vab__footerGeneral__dd__sub__link __trigger_footerClick">Adverteren</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    </div>

    <div class="vab__footerMisc">
        <div class="vab__footerMisc__nav">
            <ul class="vab__footerMisc__nav__list">
                <li class="vab__footerMisc__nav__item">&copy; VAB 2016</li>
                <li class="vab__footerMisc__nav__item">
                    <a href="#0" class="vab__footerMisc__nav__link __trigger_footerClick">Privacy</a>
                </li>
                <li class="vab__footerMisc__nav__item">
                    <a href="#0" class="vab__footerMisc__nav__link __trigger_footerClick">Disclaimer</a>
                </li>
                <li class="vab__footerMisc__nav__item">
                    <a href="#0" class="vab__footerMisc__nav__link __trigger_footerClick">Belangenconflictbeleid</a>
                </li>
                <li class="vab__footerMisc__nav__item">
                    <a href="#0" class="vab__footerMisc__nav__link __trigger_footerClick">Telematics</a>
                </li>
                <li class="vab__footerMisc__nav__item">
                    <a href="#0" class="vab__footerMisc__nav__link __trigger_footerClick">Sitemap</a>
                </li>
            </ul>
        </div>

        <div class="vab__footerMisc__socialNav">
            <ul class="vab__footerMisc__socialNav__list">
                <li class="vab__footerMisc__socialNav__item">Volg ons op</li>
                <li class="vab__footerMisc__socialNav__item">
                    <a href="#0" class="vab__footerMisc__socialNav__link __trigger_footerClick" target="_blank">
                        <i class="vab__footerMisc__socialNav__icon vab__icon--facebook"></i>
                    </a>
                </li>
                <li class="vab__footerMisc__socialNav__item">
                    <a href="#0" class="vab__footerMisc__socialNav__link __trigger_footerClick" target="_blank">
                        <i class="vab__footerMisc__socialNav__icon vab__icon--linkedin"></i>
                    </a>
                </li>
                <li class="vab__footerMisc__socialNav__item">
                    <a href="#0" class="vab__footerMisc__socialNav__link __trigger_footerClick" target="_blank">
                        <i class="vab__footerMisc__socialNav__icon vab__icon--twitter"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</section>

</footer>
